ion-content ion-toolbar {
  --background: translucent;
}

.top{
  display: flex;
  position: sticky;
  top: 0px;
  justify-content: center;
  align-items: center;
  padding: 5px;
  text-align: center;
  background-color: #5a2e8f;
}

.ttl{
  display: flex;
  position: sticky;
  font-size: 30px;
  color: white;
  font-weight: 450;
  height: 10%;
}

.allDown{
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
  display: flex;
  // justify-content: space-around;
}

.display{
  border: 1.5px solid #5a2c8f;
  padding: 10px;
  justify-content: flex-start;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 15px;
}